@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-custom-white
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home{
  @apply text-custom-black
}
.links{
  @apply px-3
}
.dropdown{
  @apply    flex-col items-center
}
  /* .options{
    @apply  hidden  absolute   bg-custom-black
  }; */

    /* .options{
      @apply block absolute
    } */
 /* .inner-options{
  @apply absolute
 }  */

