@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-custom-white
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home{
  @apply text-custom-black
}
.links{
  @apply px-3
}
.dropdown{
  @apply    flex-col items-center
}
.cover-container{
  @apply w-full h-screen 
}
.cover-image{
  @apply object-cover w-full  h-screen 
}
.cover-movie{
  @apply px-11 
}
.movie-container{
  @apply w-2/4  text-custom-white absolute bottom-24
}
.movie-cover-image{
  @apply w-40 py-2 
}
.cover-buttons{
  @apply  flex  py-2
}
.cover-btn-padding{
  @apply pl-6
}
.movies-type-list{
  @apply bg-custom-white border-none rounded-sm px-2  font-semibold 
}